* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

main {
  padding-bottom: 1px;
  border-bottom: 1px rgb(177, 176, 176) solid;
}

header, main, footer {
  background-color: rgba(243, 242, 242, 0.966);
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
}

.flex-nw {
  display: flex;
  flex-wrap: nowrap;
}

.flexd-c {
  flex-direction: column;
}

.flexd-rr {
  flex-direction: row-reverse;
}

.aln-ic {
  align-items: center;
}

.aln-cc {
  align-content: center;
}

.jc-c {
  justify-content: center;
}

.jc-b {
  justify-content: space-between;
}

.jc-e {
  justify-content: space-evenly;
}

.galeria {
  width: calc(100% - 350px);
  margin: 15px 175px 0px 175px;
}
.galeria-t {
  width: 49%;
  height: 100%;
  margin-bottom: 35px;
}
.galeria-t-cont {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.galeria-t-cont__img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.galeria-t-text {
  width: calc(100% - 40px);
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
}
.galeria-t-text__desc {
  padding-bottom: 10px;
}
.galeria-t-precio {
  width: calc(100% - 40px);
  padding: 20px;
  color: rgb(150, 211, 59);
  font-size: 30px;
  font-weight: 700;
  background-color: white;
}
.galeria-t-precio__num {
  display: inline-block;
}
.galeria-t-precio__button {
  display: inline-block;
  padding: 15px 25px;
  color: rgb(150, 211, 59);
  font-size: 20px;
  background-color: white;
  border: 2px rgb(150, 211, 59) solid;
  border-radius: 5px;
}
.galeria-news {
  width: calc(33.3% - 50px);
  height: 200px;
  margin: 0px 25px;
  position: relative;
  overflow: hidden;
}
.galeria-news__img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.galeria-news__text {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}
.galeria-news__button {
  color: white;
  border: 2px white solid;
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  bottom: 0px;
  font-size: 20px;
}

.oferta {
  width: calc(100% - 350px);
  margin: 20px 175px 70px 175px;
  padding: 10px;
  background-color: white;
}
.oferta__esp {
  margin: 15px;
}

.nav-h {
  width: calc(100% - 350px);
  height: 80px;
  padding: 10px 0px;
  margin: 0px 175px;
  overflow: hidden;
}
.nav-h__logo {
  width: 25%;
}
.nav-h-cont {
  width: 55%;
}
.nav-h-cont-p {
  width: 65%;
  font-size: 15px;
}
.nav-h-cont-p-div__img {
  width: 30px;
  min-width: 30px;
}
.nav-h-cont-p-div__p {
  width: auto;
  margin: 0px 10px;
}
.nav-h-cont-p-div-p {
  width: 25%;
  border-right: 2px solid;
}
.nav-h-cont-p-div-s {
  width: 45%;
  border-right: 2px solid;
  margin-left: 10px;
}
.nav-h-cont-p-div-t {
  width: 30%;
  border-right: 2px solid;
  margin-left: 10px;
}
.nav-h-cont-s {
  width: 35%;
  margin-left: 10px;
  font-size: 30px;
}
.nav-h-cont-s__img {
  width: 40px;
  min-width: 40px;
}
.nav-h-cont-s__p {
  width: 65%;
  margin-left: 15px;
}

.nav-m {
  width: calc(100% - 350px);
  padding: 0px 175px;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  background-color: white;
  border-top: 1px rgb(177, 176, 176) solid;
  border-bottom: 1px rgb(177, 176, 176) solid;
}
.nav-m-menu {
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: rgb(150, 211, 59);
  margin-right: 10px;
  overflow: visible;
}
.nav-m-menu__img {
  width: 70%;
}
.nav-m-cont {
  width: 100%;
  padding: 15px 0px;
}
.nav-m-cont__li {
  width: 100%;
}

.nav-f {
  width: calc(100% - 350px);
  padding-top: 30px;
  margin: 0px 175px;
  margin-bottom: 60px;
}
.nav-f-cont {
  width: 100%;
}
.nav-f-cont__img {
  width: 60px;
  margin-bottom: 15px;
}
.nav-f-cont__li {
  width: 100%;
  padding: 10px;
  border-left: 1px rgb(177, 176, 176) solid;
  border-right: 1px rgb(177, 176, 176) solid;
}

.sel-m {
  width: calc(100% - 350px);
  margin: 0px 175px;
  padding: 15px 0px;
  border-bottom: 1px rgb(177, 176, 176) solid;
}
.sel-m__op {
  padding: 10px 15px;
  color: white;
  background-color: rgb(150, 211, 59);
  font-weight: 700;
  font-size: 17px;
  border: 0px;
}

.footer-list {
  width: calc(100% - 350px);
  margin: 50px 175px 0px 175px;
  padding-bottom: 30px;
}
.footer-list-ele {
  width: 25%;
  margin: 30px 0px;
}
.footer-list-ele__enc {
  color: rgb(150, 211, 59);
  font-size: 30px;
  margin-bottom: 25px;
}
.footer-list-ele__ul {
  margin: 0px 20px;
}
.footer-list-ele__li {
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */